{
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "importOrder": [
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "endOfLine": "auto"
}